body {
  margin: 0;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact-form {
    padding-right: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  
  .contact-form input,
  .contact-form textarea {
    border: 1px solid #3d5a80;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: black;
  
  }

  button {
    background-color: #3d5a80;
  }

  h3{
    text-align: center;
    /* color:aqua; */
  }

  label{
    color: #3d5a80;
    font-size: 20px;
  }