h2{
  text-align: center;
  margin-top: 100px;
  color: aqua;
  font-size: 40px;
}
.repository {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.repositoryImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}